<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Engineer Suite">
    <test name="Unit Tests">
        <classes>
            <class name="tests.homework.unit.testng.ParametrizedTestNgTests"/>
            <class name="tests.homework.unit.testng.ManualEngineerTestngTests"/>
            <class name="tests.homework.unit.testng.AutoEngineerTestngTests"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="tests.homework.uitests.testNg.LondonTest"/>
            <class name="tests.homework.uitests.testNg.HoverTest"/>
            <class name="tests.homework.uitests.testNg.W3SchoolsTest"/>
        </classes>
    </test>
</suite>

<!--mvn test -DsuiteXmlFile=testng.xml-->