<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Engineer Suite">
    <test name="Engineers Tests">
        <classes>
            <class name="testng.ParametrizedTestNgTests"/>
            <class name="testng.ManualEngineerTestngTests"/>
            <class name="testng.AutoEngineerTestngTests"/>
        </classes>
    </test>
</suite>
